@model List<ProjectWEB.Models.Category>

<h3 class="page-title">Kategori Listesi</h3>
<br />
<div class="table-responsive">
    <table class="table table-striped table-hover table-dark">
        <thead>
            <tr>
                <th>Kategori</th>
                <th>Açıklama</th>
                <th>Durumu</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.CategoryName</td>
                    <td>@x.CategoryDescription</td>
                    <td>@x.CategoryState</td>
                    <td><a asp-action="CategoryDelete" asp-route-id="@x.CategoryID" class="btn btn-danger">Sil</a></td>
                    <td><a asp-action="CategoryGet" asp-route-id="@x.CategoryID" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<a asp-action="CategoryAdd" class="btn btn-primary">Yeni Kategori</a>